src/main/resources/xsd/ce/v13/ce_auxiliar_folios/AuxiliarFolios_1_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RepAux="http://www.sat.gob.mx/esquemas/ContabilidadE/1_3/AuxiliarFolios"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:contelec_td="http://www.sat.gob.mx/esquemas/ContabilidadE/1_3/CatalogosParaEsqContE"
           targetNamespace="http://www.sat.gob.mx/esquemas/ContabilidadE/1_3/AuxiliarFolios"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://www.sat.gob.mx/esquemas/ContabilidadE/1_3/CatalogosParaEsqContE"
               schemaLocation="../CatalogosParaEsqContE.xsd"/>
    <xs:element name="RepAuxFol">
        <xs:annotation>
            <xs:documentation>
                Estándar de reporte auxiliar de folios de los comprobantes fiscales de las pólizas que se entrega como
                parte de las pólizas de la contabilidad electrónica.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DetAuxFol" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            Nodo opcional para expresar el detalle de los folios de los comprobantes fiscales que
                            integran la póliza.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ComprNal" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Nodo opcional para relacionar el detalle de los comprobantes de origen nacional
                                        relacionados con la transacción. Se considera que se debe identificar, el
                                        soporte documental, tanto en la provisión, como en el pago y/o cobro de cada una
                                        de las cuentas y subcuentas que se vean afectadas. Se convierte en requerido
                                        cuando se cuente con la información.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="UUID_CFDI" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo requerido para expresar la clave UUID del CFDI soporte de la
                                                operación. (36 caracteres)
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:whiteSpace value="collapse"/>
                                                <xs:length value="36"/>
                                                <xs:pattern
                                                        value="[a-f0-9A-F]{8}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{12}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="MontoTotal" type="RepAux:t_importe" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo requerido para expresar el monto total del CFDI que soporte la
                                                operación (Incluye IVA en su caso)
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="RFC" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo requerido para expresar el RFC relacionado con la operación. El
                                                RFC al que se hace referencia, es el distinto del contribuyente que
                                                envía los datos, es decir, el RFC del tercero vinculado.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="12"/>
                                                <xs:maxLength value="13"/>
                                                <xs:whiteSpace value="collapse"/>
                                                <xs:pattern
                                                        value="[A-ZÑ&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z0-9]?[A-Z0-9]?[0-9A-Z]?"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="MetPagoAux" type="contelec_td:c_MetPagos" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo opcional para expresar el método de pago de la operación, de
                                                acuerdo al catálogo publicado en la página de internet del SAT. Se
                                                convierte en requerido cuando se cuente con la información.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="Moneda" type="contelec_td:c_Moneda" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo opcional para expresar el tipo de moneda utilizado en la
                                                transacción, de acuerdo al catálogo publicado en la página de internet
                                                del SAT. Este dato sólo se utiliza en el caso de que el tipo de moneda,
                                                sea diferente a la moneda nacional (peso). Se convierte en requerido
                                                cuando se cuente con la información.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="TipCamb" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo opcional para expresar el tipo de cambio utilizado de acuerdo
                                                al tipo de moneda. Este dato sólo se utiliza en el caso de que el tipo
                                                de moneda, sea diferente a la moneda nacional (peso). Se convierte en
                                                requerido cuando se cuente con la información.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:totalDigits value="19"/>
                                                <xs:fractionDigits value="5"/>
                                                <xs:minInclusive value="0"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ComprNalOtr" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Nodo opcional para relacionar el detalle de los comprobantes de origen nacional
                                        relacionados con la transacción, diferente a CFDI, es decir, CFD y/o CBB. Se
                                        considera que se debe identificar, el soporte documental, tanto en la provisión,
                                        como en el pago y/o cobro de cada una de las cuentas y subcuentas que se vean
                                        afectadas. Se convierte en requerido cuando se cuente con la información.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="CFD_CBB_Serie" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo opcional para expresar la serie del comprobante CFD_CBB que
                                                soporte la operación.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:maxLength value="10"/>
                                                <xs:pattern value="[A-Z]+"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="CFD_CBB_NumFol" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo requerido para expresar el número de folio del comprobante
                                                CFD_CBB que soporte la operación.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:integer">
                                                <xs:totalDigits value="20"/>
                                                <xs:minInclusive value="1"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="MontoTotal" type="RepAux:t_importe" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo requerido para expresar el monto total del CFD y/o CBB que
                                                soporte la operación. (Incluye IVA en su caso)
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="RFC" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo requerido para expresar el RFC relacionado con la operación. El
                                                RFC al que se hace referencia, es el distinto del contribuyente que
                                                envía los datos, es decir, el RFC del tercero vinculado.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="12"/>
                                                <xs:maxLength value="13"/>
                                                <xs:pattern
                                                        value="[A-ZÑ&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z0-9]?[A-Z0-9]?[0-9A-Z]?"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="MetPagoAux" type="contelec_td:c_MetPagos" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo opcional para expresar el método de pago de la operación, de
                                                acuerdo al catálogo publicado en la página de internet del SAT. Se
                                                convierte en requerido cuando se cuente con la información.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="Moneda" type="contelec_td:c_Moneda" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo opcional para expresar el tipo de moneda utilizado en la
                                                transacción, de acuerdo al catálogo publicado en la página de internet
                                                del SAT. Este dato sólo se utiliza en el caso de que el tipo de moneda,
                                                sea diferente a la moneda nacional (peso). Se convierte en requerido
                                                cuando se cuente con la información.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="TipCamb" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo opcional para expresar el tipo de cambio utilizado de acuerdo
                                                al tipo de moneda. Este dato sólo se utiliza en el caso de que el tipo
                                                de moneda, sea diferente a la moneda nacional (peso). Se convierte en
                                                requerido cuando se cuente con la información.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:minInclusive value="0"/>
                                                <xs:totalDigits value="19"/>
                                                <xs:fractionDigits value="5"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ComprExt" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Nodo opcional para relacionar el detalle de los comprobantes de origen
                                        extranjero relacionados con la transacción. Se considera que se debe
                                        identificar, el soporte documental, tanto en la provisión, como en el pago y/o
                                        cobro de cada una de las cuentas y subcuentas que se vean afectadas. Se
                                        convierte en requerido cuando se cuente con la información.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="NumFactExt" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo requerido para expresar la clave numérico o alfanumérico del
                                                comprobante de origen extranjero que soporte la operación
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:whiteSpace value="collapse"/>
                                                <xs:minLength value="1"/>
                                                <xs:maxLength value="36"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="TaxID" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo opcional que sirve para expresar el Identificador del
                                                contribuyente extranjero. Se convierte en requerido cuando se cuente con
                                                la información
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:maxLength value="30"/>
                                                <xs:whiteSpace value="collapse"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="MontoTotal" type="RepAux:t_importe" use="required">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo requerido para expresar el monto total del comprobante de
                                                origen extranjero que soporte la operación.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="MetPagoAux" type="contelec_td:c_MetPagos" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo opcional para expresar el método de pago de la operación, de
                                                acuerdo al catálogo publicado en la página de internet del SAT. Se
                                                convierte en requerido cuando se cuente con la información.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="Moneda" type="contelec_td:c_Moneda" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo opcional para expresar el tipo de moneda utilizado en la
                                                transacción, de acuerdo al catálogo publicado en la página de internet
                                                del SAT. Este dato sólo se utiliza en el caso de que el tipo de moneda,
                                                sea diferente a la moneda nacional (peso). Se convierte en requerido
                                                cuando se cuente con la información.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="TipCamb" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Atributo opcional para expresar el tipo de cambio utilizado de acuerdo
                                                al tipo de moneda. Este dato sólo se utiliza en el caso de que el tipo
                                                de moneda, sea diferente a la moneda nacional (peso). Se convierte en
                                                requerido cuando se cuente con la información.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal">
                                                <xs:minInclusive value="0"/>
                                                <xs:totalDigits value="19"/>
                                                <xs:fractionDigits value="5"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="NumUnIdenPol" use="required">
                            <xs:annotation>
                                <xs:documentation>
                                    Atributo requerido para expresar el número único de identificación de la póliza. El
                                    campo deberá contener la clave o nombre utilizado por el contribuyente para
                                    diferenciar, el tipo de póliza y el número correspondiente. En un mes ordinario no
                                    debe repetirse un mismo número de póliza con la clave o nombre asignado por el
                                    contribuyente.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="50"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Fecha" type="xs:date" use="required">
                            <xs:annotation>
                                <xs:documentation>
                                    Atributo requerido para expresar la fecha de registro de la póliza.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Version" type="xs:string" use="required" fixed="1.3">
                <xs:annotation>
                    <xs:documentation>
                        Atributo requerido para expresar la versión del formato.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="RFC" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Atributo requerido para expresar el RFC del contribuyente que envía los datos
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="12"/>
                        <xs:maxLength value="13"/>
                        <xs:pattern value="[A-ZÑ&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z0-9]?[A-Z0-9]?[0-9A-Z]?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Mes" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Atributo requerido para expresar el mes en que inicia la vigencia del reporte auxiliar de los
                        folios de los comprobantes fiscales de las pólizas.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="01"/>
                        <xs:enumeration value="02"/>
                        <xs:enumeration value="03"/>
                        <xs:enumeration value="04"/>
                        <xs:enumeration value="05"/>
                        <xs:enumeration value="06"/>
                        <xs:enumeration value="07"/>
                        <xs:enumeration value="08"/>
                        <xs:enumeration value="09"/>
                        <xs:enumeration value="10"/>
                        <xs:enumeration value="11"/>
                        <xs:enumeration value="12"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Anio" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Atributo requerido para expresar el año al que inicia la vigencia del reporte auxiliar de los
                        folios de los comprobantes fiscales de las pólizas.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="2015"/>
                        <xs:maxInclusive value="2099"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="TipoSolicitud" use="required">
                <xs:annotation>
                    <xs:documentation>
                        Atributo requerido para expresar el tipo de solicitud del reporte auxiliar de los folios de los
                        comprobantes fiscales de las pólizas. ( AF - Acto de Fiscalización; FC - Fiscalización Compulsa;
                        DE - Devolución; CO - Compensación )
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="AF|DE|CO|FC"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="NumOrden" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Atributo opcional para expresar el número de orden asignado al acto de fiscalización al que hace
                        referencia el reporte auxiliar de los folios de los comprobantes fiscales de las pólizas.
                        Requerido para tipo de solicitud = AF y FC. Se convierte en requerido cuando se cuente con la
                        información.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="13"/>
                        <xs:pattern value="[A-Z]{3}[0-9]{7}(/)[0-9]{2}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="NumTramite" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Atributo opcional para expresar el número de trámite asignado a la solicitud de devolución o
                        compensación al que hace referencia el reporte auxiliar de los folios de los comprobantes
                        fiscales de las pólizas. Requerido para tipo de solicitud = DE o CO. Se convierte en requerido
                        cuando se cuente con la información.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="14"/>
                        <xs:pattern value="[A-Z]{2}[0-9]{12}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Sello" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Atributo opcional para contener el sello digital del archivo de contabilidad electrónica. El
                        sello deberá ser expresado cómo una cadena de texto en formato Base 64
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:whiteSpace value="collapse"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="noCertificado" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Atributo opcional para expresar el número de serie del certificado de sello digital que ampara
                        el archivo de contabilidad electrónica, de acuerdo al acuse correspondiente a 20 posiciones
                        otorgado por el sistema del SAT.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Certificado" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Atributo opcional que sirve para expresar el certificado de sello digital que ampara al archivo
                        de contabilidad electrónica como texto, en formato base 64.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:whiteSpace value="collapse"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="t_importe">
        <xs:annotation>
            <xs:documentation>
                Tipo definido para expresar importes numéricos con fracción hasta dos decimales
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="-9999999999999999999999.99"/>
            <xs:maxInclusive value="9999999999999999999999.99"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>